<!DOCTYPE html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title>Panneau</title>
    <link rel="stylesheet" th:href="@{css/style.css}" />
    <link rel="stylesheet" th:href="@{lib/bootstrap/css/bootstrap.min.css}" />
  </head>
  <body>
    <div class="container py-5">
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}"
            >Prevision</a
          >
        </li>
      </ul>
      <section layout:fragment="content"></section>
    </div>
    <script th:src="@{js/script.js}"></script>
    <script th:src="@{lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
